@model IEnumerable<LibraryApp.Models.Book>

@{
    ViewData["Title"] = "Index";
    int pageNum = ViewBag.PageNum ?? 1;    // null 대신 1을 기본값으로 사용
    int pageNumMax = ViewBag.PageNumMax ?? 1;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Writer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <!-- @Html.DisplayFor(modelItem => item.Title) -->
                @item.Title
            </td>
            <td>
                @item.Writer
            </td>
            <td>
                @item.Summary
            </td>
            <td>
                @item.Publisher
            </td>
            <td>
                @item.Published_date
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Book_U">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Book_U">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Book_U">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<!-- 페이징(Paging) 버튼 -->
<div class="text-center">
    <div class="btn-group">
        @for (int i=1; i<=pageNumMax; i++) {
            <a class="btn btn-@(pageNum == i ? "primary" : "default")" href="?page=@i">@i</a>        
        }
    </div>
</div>